@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border select-none font-default appearance-none transition-all duration-150;
    outline: none;
    border: none;
  }

  p {
    margin: 0 !important;
  }

  ::-webkit-scrollbar {
    @apply w-[10px] bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primaryColor h-[80px];
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .active {
    @apply before:content-[''] before:block before:w-full before:h-[2px] before:rounded-sm before:dark:bg-white before:bg-black before:absolute before:bottom-0 before:left-0;
  }

  .colorSVG svg {
    @apply hover:fill-white dark:fill-lightGray;
  }

  .desapear {
    @apply scale-75;
  }

  .activeFooter {
    @apply text-black dark:text-white;
  }

  .separator {
    border-top: 1px solid;
    @apply border-t-lightGray;
  }

  .apear {
    @apply block;
  }

  .link {
    @apply hover:font-extrabold font-bold dark:font-medium text-black ps-1 dark:text-white;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
